<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2> 회원가입 ~ </h2>

    <form action="/signup" method="post">
        <!-- action="/signup" : signup 에서 이루어지고 있다? ❓❓❓ -->

        <label for="">아이디</label>
        <input type="text" name="user_id">
        <!-- name 은 넘어갈 때, key 값이 된다.  -->

        <label for=""> 비밀번호 </label>
        <input type="text" name="user_pw">
        
        <button> 회원가입 신청 </button>

    </form>
    <!-- <button></button> 타입 설정안 하면, 기본이 submit 임⭐⭐-->
    <!-- method="post" : 입력값 만들어서, db 에서  -->



</body>
</html>